body{
    background-color: rgb(238, 247, 255)!important; 
    /* 1966b9 */
}
navbarSpacer{
    min-width: 200px;
}
.TTicon{
    width: 10px !important;
    height: 10px !important;
    size: 1rem !important;
}
div div#mainsplash{
    margin-top: 10px;
    background-image: url('../images/TT_splash_blackOverlay.png')!important;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: auto;
    height: 100vh;
   background-color: rgba(127, 255, 212, 0);
   text-align: center;
   color:blanchedalmond!important;
} 
.mainPage_vert_space{
    margin-top: 10rem;
}
.mainPage_mainHeading{
    padding-top: 20rem !important;
}

.OverView_heading{
    text-align: center;
    height:100vh;
}
.shadownavCust{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
.OurWorkShowing{
    
}