@font-face { font-family: roboto; src: url('../images/Roboto-Light.ttf'); } 
body{
    background-color: rgb(39, 42, 44)!important; 
    font-family: 'Roboto' !important;
    font-weight: 300;
    /* 1966b9 */
}

.TTicon{
    height:3.5rem;
    padding: 0px;
    width: 3.5rem;
}
.TTicon1{
    height:3.5rem;
    padding:0px;
    width:7.5rem;
}
div div#mainsplash{
    margin-top: 10px;
    background-image: url('../images/TT_splash_blackOverlay.png')!important;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: auto;
    height: 100vh;
   background-color: rgba(127, 255, 212, 0);
   text-align: center;
   color:blanchedalmond!important;
} 


.OverView_heading{
    text-align: center;
    height:auto;
}
.shadownavCust{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
.OverviewDescrp{
    font-size: 1.3rem;
}
.rightPaddingNavbar{
}
ul li .contactLink{
    color:antiquewhite !important;
    background-color: #1966b9;
    text-shadow: none;
    border-radius: 6px;
}