.navCustDesign{
    padding-left: 1rem !important;
    font-size: 1.4rem !important;
    color: #1966b9 !important;
}
.navCustDesign_spacingX{
    padding-right: 1.5rem !important;
}
.Nav_link_active_cust{
    border-bottom-style:solid;
    border-color:#1966b9;
    z-index: 1;
}