nav div.navbar.navbar-expand-lg.navbar-light.fixed-top .collapse.navbar-collapse{

    background: rgb(10, 10, 10) !important;
}
.bg-dark{
    background: rgb(10, 10, 10) !important;
}
.navCustDesign a{
    font-size: 1.2rem !important;
    font-weight: 100 !important;
    color: antiquewhite !important;
}
.Nav_link_active_cust{
    border-bottom-style:solid;
    border-color:antiquewhite;
    z-index: 1;
}
.nav-item{
    text-align: center;
}
div ul li .navCustDesign{
padding-bottom: 200px;    
}
.NavItem{
    padding-left: 20px;
}
.NavItem_b{
    padding-bottom: 10px;
}
.nvToggler{
    
}