.OurProcess{
    color:antiquewhite !important;
}
.GameDevPageMainImage{
    background-image: url(../../../images/Pages/4phone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 80vh;
    padding-right: 20px;
}
.AppDevPageMainImage{
    background-image: url(../../../images/Pages/5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 80vh;
    padding-right: 20px;
}
.pageCard:hover{
    box-shadow: 2px 2px 2px 2px #5c5959;
    background-color: rgb(68, 67, 67);
}
.pageCard{
    margin: 0px;
    height: 250px;
    width: auto;
    padding:40px;
    border-top: solid #302f2f;
    border-bottom: solid #302f2f;
}
.pageCardImg{
    width:75px;
    height: auto;
}
.ContentColumn{
    padding-top: 5vh;
}
.topRowHeading{
    font-size: 1.5rem;
    padding-left: 40px;
}
.pageCardPara{
    padding-left: 20px;
    text-align: center;
}
.webDevPageMainImage{
    background-image: url(../../../images/Pages/2phone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 70vh;
    padding-right: 20px;
    margin-top:20px;
}
.uiuxDevPageMainImage{
    background-image: url(../../../images/Pages/AppDevPageimg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 70vh;
    padding-right: 20px;
    margin-top:20px;
}
.WhatweDoDark{
    background-color: #2e2c2c;
    color:antiquewhite;
}