.footer_Text{
    color: rgb(143, 141, 138);
}

div.jumbotron.jumbotron-fluid.footerCust{
    min-height: 20px !important;
}
.iconfb{
    size: 1rem !important;
    font-size : 1rem;
    color:navy;
}