.cardCust{
    max-width: auto;
    max-height: 450px;
    color: #1966b9 !important;
    margin: 1rem !important;
}
.CardImage{
    max-width:75px !important;
    max-height: 70px !important;
}
.CardImageDigi{
    width:65px;
}
.CardTextCust{
    text-align: center;
}