
div.jumbotron.jumbotron-fluid.vertSpacing#WWeDoJumbo{
    background-image: url('../../../images/WWeDoSplash.png')!important;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: auto;
    height:auto;
    flex: 1;
   background-color: rgba(127, 255, 212, 0);
   text-align: center;
   color:blanchedalmond!important;
}.vertSpacing{
    padding-top: -10rem !important;
}
.containerWWEDO{
    height: 100vh !important;
}