.CU_form{
    padding: 20px;
    color: antiquewhite;
}
.contactMale{
    background-image: url(../../../images/contact-male.png);
    background-repeat: no-repeat;
    background-position: right;
     width: auto;
     height: 80vh;
    }
.CU_form_length{
    height: 80vh;
    width: auto;
    background-color: #ffffff;
}
.inputCUForm{
    border-style: solid;
    border-top : 0px;
    border-right: 0px;
    border-left: 0px;
}
.CU_form_labels{
    color: #1966b9;
}