.jumbo1AboutUs{
    background-image:url(../../../images/2.jpg);
    background-size: cover;
    background-position: center;
    width: auto;
    color:antiquewhite;
    height: 70vh;

}
.heading_abtus{
    margin: 5rem;
}