.PTJM1_main{
    background-image: url(../../../../images/portfolio.jpg) !important;
    background-repeat: space;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 70vh;
    background-color: #ffffff00;
    color:antiquewhite;
    
}