body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-image: url('./Resources/daniel-h-tong-p9AAfryJ-oI-unsplash.jpg');
}
