body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-image: url('./Resources/daniel-h-tong-p9AAfryJ-oI-unsplash.jpg');
}
.bg-light{
  background-color: #ffffff00
}
.navbar_text{
  display: inline;
  color : white;
  font-size: 1.2rem;
  font-family: 'Comfortaa' !important;
  padding : 1rem 1rem 1rem 1rem;
  
}
.jumboText{
  color : rgb(170, 166, 166);
  padding-bottom: 1rem;
}
.navbar_container{
  display: grid;
  align-items: center;
  padding-top: 2rem;
  padding-right: -5px !important;
  height: 4rem;
  width :inherit;
  float: left;
}
.image_custom{
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 25px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.jumboBtn{
  margin: 2rem;
  background-color: rgba(15, 13, 13, 0.363);;
}
.introJumboContainer{
  color: aliceblue;
  font-family: 'Comfortaa' !important;
  margin-top: 2rem;
  background-color: rgba(15, 13, 13, 0.363);
  padding:1rem;
  align-items: center !important;
}
.image_cust{
  size: 4rem;
}
/* 
.navbar_content{
  display: inline-flex;
  font-family: 'Pacifico', ;
  font-family: 'Comfortaa', ;
  
}


*/
